/.idea
/.idea/*
about.html
faq.html
blog-single.html
services-details-sidebar-left.html
team-members.html
blog.html
home2.html
services-details-sidebar-right.html
testimonial.html
contact
home3.html
services.html
contact.html
portfolio.html
